In [1]:
import pandas as pd

# Reading the data

In [4]:
df_content = pd.read_csv("content.csv")
df_topic = pd.read_csv("topics.csv")
df_corr = pd.read_csv("correlations.csv")

In [6]:
df_content.head()

,id,title,description,kind,text,language,copyright_holder,license
0,c_00002381196d,"Sumar números de varios dígitos: 48,029+233,930","Suma 48,029+233,930 mediante el algoritmo está...",video,NaN,es,NaN,NaN
1,c_000087304a9e,Trovare i fattori di un numero,Sal trova i fattori di 120.\n\n,video,NaN,it,NaN,NaN
2,c_0000ad142ddb,Sumar curvas de demanda,Cómo añadir curvas de demanda\n\n,video,NaN,es,NaN,NaN
3,c_0000c03adc8d,Nado de aproximação,Neste vídeo você vai aprender o nado de aproxi...,document,\nNado de aproximação\nSaber nadar nas ondas ...,pt,Sikana Education,CC BY-NC-ND
4,c_00016694ea2a,geometry-m3-topic-a-overview.pdf,geometry-m3-topic-a-overview.pdf,document,Estándares Comunes del Estado de Nueva York\n\...,es,Engage NY,CC BY-NC-SA

In [8]:
df_topic.head()

,id,title,description,channel,category,level,language,parent,has_content
0,t_00004da3a1b2,Откриването на резисторите,"Изследване на материали, които предизвикват на...",000cf7,source,4,bg,t_16e29365b50d,True
1,t_000095e03056,Unit 3.3 Enlargements and Similarities,NaN,b3f329,aligned,2,en,t_aa32fb6252dc,False
2,t_00068291e9a4,Entradas e saídas de uma função,Entenda um pouco mais sobre funções.,8e286a,source,4,pt,t_d14b6c2a2b70,True
3,t_00069b63a70a,Transcripts,NaN,6e3ba4,source,3,en,t_4054df11a74e,True
4,t_0006d41a73a8,Графики на експоненциални функции (Алгебра 2 н...,Научи повече за графиките на сложните показате...,000cf7,source,4,bg,t_e2452e21d252,True

In [9]:
df_corr.head()

         topic_id                                        content_ids
0  t_00004da3a1b2  c_1108dd0c7a5d c_376c5a8eb028 c_5bc0e1e2cba0 c...
1  t_00068291e9a4  c_639ea2ef9c95 c_89ce9367be10 c_ac1672cdcd2c c...
2  t_00069b63a70a                                     c_11a1dc0bfb99
3  t_0006d41a73a8  c_0c6473c3480d c_1c57a1316568 c_5e375cf14c47 c...
4  t_0008768bdee6       c_34e1424229b4 c_7d1a964d66d5 c_aab93ee667f4

In [10]:
df_content.shape,df_topic.shape,df_corr.shape

((154047, 8), (76972, 9), (61517, 2))

In [12]:
df_content.isna().sum().sum(),df_topic.isna().sum().sum(),df_corr.isna().sum().sum()

(306850, 42192, 0)

# checking which features contains nan values

In [14]:
[feature for feature in df_content.columns if df_content[feature].isna().sum()>0]

['title', 'description', 'text', 'copyright_holder', 'license']

In [16]:
[feature for feature in df_topic.columns if df_topic[feature].isna().sum()>0]

['title', 'description', 'parent']

In [17]:
[feature for feature in df_corr.columns if df_corr[feature].isna().sum()>0]

[]

In [18]:
df_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154047 entries, 0 to 154046
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                154047 non-null  object
 1   title             154038 non-null  object
 2   description       89456 non-null   object
 3   kind              154047 non-null  object
 4   text              74035 non-null   object
 5   language          154047 non-null  object
 6   copyright_holder  71821 non-null   object
 7   license           74035 non-null   object
dtypes: object(8)
memory usage: 9.4+ MB

description,text,copyright_holder,license has missing values

In [19]:
df_topic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76972 entries, 0 to 76971
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           76972 non-null  object
 1   title        76970 non-null  object
 2   description  34953 non-null  object
 3   channel      76972 non-null  object
 4   category     76972 non-null  object
 5   level        76972 non-null  int64
 6   language     76972 non-null  object
 7   parent       76801 non-null  object
 8   has_content  76972 non-null  bool
dtypes: bool(1), int64(1), object(7)
memory usage: 4.8+ MB

title,description and parent has missing values

# Handling nan and missing value in content dataframe

In [21]:
df_content.shape

(154047, 8)

In [20]:
df_content.isna().sum()

id                      0
title                   9
description         64591
kind                    0
text                80012
language                0
copyright_holder    82226
license             80012
dtype: int64

In [23]:
#lets check wheather title,description and text column has null values or not in any sample
df_content[df_content[['title','description','text']].isnull().all(axis=1)]

Empty DataFrame
Columns: [id, title, description, kind, text, language, copyright_holder, license]
Index: []

# so we confirm that no such samples where these three features are common nan values.
if its there then we have to delete that sample

In [29]:
df_content = df_content.dropna(subset = ['title','description','text'],how='all')

In [30]:
df_content.shape

(154047, 8)

In [31]:
## checking title and decription
df_content[df_content[['title','description']].isnull().all(axis=1)]

,id,title,description,kind,text,language,copyright_holder,license
36142,c_3c070b63a944,NaN,NaN,document,"Palabra de caballero\nPalabra de caballero\n""P...",es,Centro Nacional de Desarrollo Curricular en Si...,CC BY-SA
71510,c_77105b4b84cc,NaN,NaN,document,Un espíritu revestido de piel humana\nUn espír...,es,Centro Nacional de Desarrollo Curricular en Si...,CC BY-SA
81818,c_87e171afe50b,NaN,NaN,document,La curiosidad es saludable\nLa curiosidad es s...,es,Centro Nacional de Desarrollo Curricular en Si...,CC BY-SA
96490,c_a04562126266,NaN,NaN,document,Para provecho y deleite\nPara provecho y delei...,es,Centro Nacional de Desarrollo Curricular en Si...,CC BY-SA
132178,c_db7818729577,NaN,NaN,document,Historia inicial\nHistoria inicial\n-\tY pasan...,es,Centro Nacional de Desarrollo Curricular en Si...,CC BY-SA
144353,c_efb73ad83f4b,NaN,NaN,document,Orientaciones para el profesorado\nOrientacion...,es,Centro Nacional de Desarrollo Curricular en Si...,CC BY-SA

# there are 6 samples where title and description has null values

In [32]:
# replace title column text values where the title is NAN

df_content['new_val'] = df_content.apply(lambda x: x['text'] if pd.isnull(x['title']) else x['title'], axis=1)
df_content['title']  = df_content['title'].fillna(df_content['new_val'].str[:30])
df_content = df_content.drop('new_val', axis=1)

In [33]:
df_content.iloc[[36142]]

,id,title,description,kind,text,language,copyright_holder,license
36142,c_3c070b63a944,Palabra de caballero\nPalabra d,NaN,document,"Palabra de caballero\nPalabra de caballero\n""P...",es,Centro Nacional de Desarrollo Curricular en Si...,CC BY-SA

In [37]:
df_content.iloc[[14]]

,id,title,description,kind,text,language,copyright_holder,license
14,c_00068709797c,Kuhesabu vizio mraba kutafuta kanuni ya eneo,Sal anatumia kizio mraba kuona kwa nini kuzidi...,video,"Nina mistatili mitatu hapa, na pia nina vipimo...",sw,Khan Academy,CC BY-NC-SA

In [42]:
# replace description column with text values where the description is NAN

df_content['new_val'] = df_content.apply(lambda x: x['text'] if pd.isnull(x['title']) else x['title'], axis=1)
df_content['description']  = df_content['description'].fillna(df_content['new_val'].str[:30])
df_content = df_content.drop('new_val', axis=1)

In [43]:
df_content.iloc[[36142]]

,id,title,description,kind,text,language
36142,c_3c070b63a944,Palabra de caballero\nPalabra d,Palabra de caballero\nPalabra d,document,"Palabra de caballero\nPalabra de caballero\n""P...",es

In [53]:
# replace text column with description values where the text is NAN

df_content['new_val'] = df_content.apply(lambda x: x['description'] if pd.isnull(x['text']) else x['text'], axis=1)
df_content['text']  = df_content['text'].fillna(df_content['new_val'].str[:30])
df_content = df_content.drop('new_val', axis=1)

In [54]:
df_content.iloc[[11]]

,id,title,description,kind,text,language
11,c_00046806ad8a,Compare multi-digit numbers,Use your place value skills to practice compar...,exercise,Use your place value skills to,en

# dropping license and copyright feature as it will not much impact on model building

In [39]:
df_content.columns

Index(['id', 'title', 'description', 'kind', 'text', 'language',
       'copyright_holder', 'license'],
      dtype='object')

In [40]:
df_content.drop(columns = ['copyright_holder', 'license'],inplace=True)

In [41]:
df_content.shape

(154047, 6)

In [52]:
df_content.loc[df_content['language']=='en']

,id,title,description,kind,text,language
5,c_00019840d110,5.12E: Regulation of the Calvin Cycle,5.12E: Regulation of the Calvi,html5,LEARNING OBJECTIVES\n\nOutline the three major...,en
8,c_00027d03ca7d,4.E: Genomes and Chromosomes (Exercises),4.E: Genomes and Chromosomes (,html5,4.3\n\n(BPA) Answer the following questions wi...,en
10,c_000425df0161,9.3: Van Der Waals Forces between Atoms,9.3: Van Der Waals Forces betw,html5,Introduction\n\nThe perfect gas equation of st...,en
11,c_00046806ad8a,Compare multi-digit numbers,Use your place value skills to practice compar...,exercise,NaN,en
18,c_000751f58836,Tangents of circles problem (example 2),Sal finds a missing angle using the property t...,video,Angle A is a circumscribed angle on circle O. ...,en
...,...,...,...,...,...,...
154035,c_fffa90b024e3,Congruent Triangle Proof Example,Congruent Triangle Proof Examp,video,NaN,en
154041,c_fffbfc3d60c6,number_lines_mixed_positive_student writes num...,This Number Line Worksheet includes problems f...,document,NaN,en
154042,c_fffcbdd4de8b,2. 12: Diffusion,2. 12: Diffusion,html5,What will eventually happen to these dyes?\n\n...,en
154045,c_ffff04ba7ac7,SA of a Cone,SA of a Cone,video,NaN,en
154046,c_ffffe5254266,The Jats,The Jats,video,NaN,en

In [51]:
df_content.loc[df_content['language']=='en'].iloc[[0]]['text'].to_list()

['LEARNING OBJECTIVES\n\nOutline the three major phases of the Calvin cycle: carbon fixation, reduction, and regeneration of ribulose\n\nThe Calvin cycle (https://bio.libretexts.org/Bookshelves/Biochemistry/Book%3A_Biochemistry_Free_and_Easy_(Ahern_and_Rajagopal)/07%3A_Metabolism_II/7.03%3A_Calvin_Cycle) is a process utilized to ensure carbon dioxide fixation. In this process, carbon dioxide and water are converted into organic compounds that are necessary for metabolic and cellular processes. There are various organisms that utilize the Calvin cycle for production of organic compounds including cyanobacteria and purple and green bacteria. The Calvin cycle requires various enzymes to ensure proper regulation occurs and can be divided into three major phases:\n\ncarbon fixation,\n\nreduction, and\n\nregeneration of ribulose.\n\nEach of these phases are tightly regulated and require unique and specific enzymes.\n\nFigure \\(\\PageIndex{1}\\): Overview of the Calvin cycle. An overview of the Calvin cycle and the three major phases. Image used with permission (CC SA-BY 3.0; Mike Jones (https://commons.wikimedia.org/wiki/User:Adenosine)).\n\nDuring the first phase of the Calvin cycle, carbon fixation occurs. The carbon dioxide is combined with ribulose 1,5-bisphosphate to form two 3-phosphoglycerate molecules (3-PG). The enzyme that catalyzes this specific reaction is ribulose bisphosphate carboxylase (RuBisCO). RuBisCO is identified as the most abundant enzyme on earth, to date. RuBisCO is the first enzyme utilized in the process of carbon fixation and its enzymatic activity is highly regulated. RuBisCO is only active during the day as its substrate, ribulose 1,5-bisphosphate, is not generated in the dark. RuBisCO enzymatic activity is regulated by numerous factors including: ions, RuBisCO activase, ATP /ADP and reduction/oxidation states, phosphate and carbon dioxide. The various factors influencing RuBisCO activity directly affect phase 1 of the Calvin cycle.\n\nDuring the second phase of the Calvin cycle, reduction occurs. The 3-PG molecules synthesized in phase 1 are reduced to glyceraldehyde-3-phosphate (G3P). This reducing process is mediated by both ATP and NADPH. One of the two G3P molecules formed are further converted to dihydroxyacetone phosphate (DHAP) and the enzyme aldolase is used to combine G3P and DHAP to form fructose-1,6-bisphosphate. The enzyme aldolase is typically characterized as a glycolytic enzyme with the ability to split fructose 1,6-bisphosphate into DHAP and G3P. However, in this specific phase of the Calvin cycle, it is used in reverse. Therefore, aldolase is said to regulate a reverse reaction in the Calvin cycle. Additionally, aldolase can be utilized to promote a reverse reaction in gluconeogenesis as well. The fructose-1,6-bisphosphate formed in phase 2 is then converted into fructose-6-phosphate.\n\nDuring the third phase of the Calvin cycle, regeneration of RuBisCO occurs. This specific phase involves a series of reactions in which there are a variety of enzymes required to ensure proper regulation. This phase is characterized by the conversion of G3P, which was produced in earlier phase, back to ribulose 1,5-bisphosphate. This process requires ATP and specific enzymes. The enzymes involved in this process include: triose phosphate isomerase, aldolase, fructose-1,6-bisphosphatase, transketolase, sedoheptulase-1,7-bisphosphatase, phosphopentose isomerase, phosphopentose epimerase, and phosphoribulokinase. The following is a brief summary of each enzyme and its role in the regeneration of ribulose 1,5-bisphosphate in the order it appears in this specific phase.\n\nTriose phosphate isomerase: converts all G3P molecules into DHAP\n\nAldolase and fructose-1,6-bisphosphatase: converts G3P and DHAP into fructose 6-phosphate\n\nTransketolase: removes two carbon molecules in fructose 6-phosphate to produce erythrose 4-phosphate (E4P); the two removed carbons are added to G3P to produce xylulose-5-phosphate (Xu5P)\n\nAldolase: converts E4P and a DHAP to sedoheptulose-1,7-bisphosphate\n\nSedoheptulase-1,7-bisphosphatase: cleaves the sedohetpulose-1,7-bisphosphate into sedoheptulase-7-phosphate (S7P)\n\nTransketolase: removes two carbons from S7P and two carbons are transferred to one of the G3P molecules producing ribose-5-phosphate (R5P)and another Xu5P\n\nPhosphopentose isomerase: converts the R5P into ribulose-5-phosphate (Ru5P)\n\nPhosphopentose epimerase: converts the Xu5P into Ru5P\n\nPhosphoribulokinase: phosphorylates Ru5P into ribulose-1,5-bisphosphate\n\nAfter this final enzyme performs this conversion, the Calvin cycle is considered complete. The regulation of the Calvin cycle requires many key enzymes to ensure proper carbon fixation.\n\nKey Points\n\nIn this process, carbon dioxide and water are converted into organic compounds that are necessary for metabolic and cellular processes.\n\nThe three phases of the Calvin cycle, fixation, reduction, and regeneration require specific enzymes to ensure proper regulation.\n\nThe last phase of the Calvin cycle, regeneration, is considered the most complex and regulated phase of the cycle.\n\nKey Terms\n\ncalvin cycle: A series of biochemical reactions that take place in the stroma of chloroplasts in photosynthetic organisms.\n\ngluconeogenesis: A metabolic process which glucose is formed from non-carbohydrate precursors.\n\nribulose: A ketopentose whose phosphate derivatives participate in photosynthesis.']